/*----------- MASTER --------------*/
* {
  padding: 0px;
  margin: 0px;
    box-sizing: border-box
}
body {
  font-family: 'Xanh Mono', 'Cutive Mono', Courier, monospace;
  font-size: 18px;
    line-height: 24px;
        letter-spacing: 1px;
  color: #000000;
background-color: #ffffff;
}
.container {
    margin: auto;
    max-width: 1600px;
}
.content {
/*    background-color: lightgray;*/
/*
    margin-left: 50px;
    margin-right: 50px;
*/
    clear: both;
}
p {
  padding-bottom: 15px;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px black solid;
}
a:img {
  border-bottom: 0px;
}
h3 {
    font-family: Archivo, Work Sans, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    padding-bottom: 2px;
}
h4 {
    font-family: Archivo, Work Sans, sans-serif;
    font-weight: normal;
    padding-top: 10px;
}
ul {
  list-style: none inside;
}
.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
.clear {
  clear: both;
  display: block;
}

/*----------- HEADER --------------*/
header {
  padding: 40px 50px 40px 50px;
    top: 0;
    margin: auto;
  width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
  border-top: none;
  font-weight: normal;
  box-sizing: border-box;
    color: black;
    border-bottom: 1px solid lightgrey;
    letter-spacing: 1px;
}
header h1 {
  font-weight: normal;
/*  width: 60%;*/
  font-size: 20px;
  padding-right: 100px;
  box-sizing: border-box;
    }
header h1 a {
    color: black;
    text-decoration: none;
}
header h1 a:hover {
    color: black;
    border-bottom: 3px solid black;
}
nav {
/*  width: 40%;*/
  font-size: 20px;
}
nav li {
  list-style: none;
    float: left;
    padding-left: 20px;
}
nav li a {
    color: black;
}
nav li a:hover {
        border-bottom: 3px solid black;
}

/*----------- HOMEPAGE --------------*/


.intro {
    padding: 50px 50px 200px 50px ;
    box-sizing: border-box;
    font-family: Archivo, 'Work Sans', sans-serif;
}
.intro h1 {
    font-size: 72px;
    line-height: 75px;
    letter-spacing: -2px;
    font-weight: normal;
        width: 100%;
/*    text-transform: uppercase;*/
}
.intro h1 a {
    border-bottom: 1px solid #888888;
}
.intro h1 a:hover {
    border-bottom-color: black;
}


/*----------- WORK LIST --------------*/
.blog-list-container {
    width: 100%;
    padding: 20px;
    padding-right: 5px;
    box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
}
.work {
    width: 33%;
    box-sizing: border-box;
      padding: 10px 15px 50px 10px;
    color: black;
    display: inline-block;
}
.project {
    width: 100%;
    padding: 10px;
}
.project:hover img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

}
.project_image img {
    width: 100%;
    padding-bottom: 20px;
}
.project_title {
/*    text-transform: uppercase;*/
    font-size: 24px;
    font-family: Archivo, 'Work Sans', sans-serif;
}
.project_tags {
    font-size: 18px;
}
.project_tags li {
    list-style: none;
    float: left;
}
.project_tags li:after {
content: ", ";
}

.project_tags li:last-child:after {
content: "";
}
.hidden {
    display: none!important;
    visibility: hidden!important;
}
.blog-tags-list {
    padding-bottom: 10px;
  padding: 20px 50px 20px 50px;
    width: 100%;
    max-width: 1600px;
    text-align: center;
    margin: auto;
    }
.blog-tags-list a:hover {
    color: lightgrey;
    }
.blog-tags-item {
    float: left;
    padding: 7px 1px 7px 1px;
    border-bottom: 4px black solid;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Archivo, 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    }
.blog-tags-item:first-child {
    margin-left: 0px;
    }
.blog-tags-item:hover {
    border-color: black;
    background-color: black;
    color: white;
    }


/*----------- WORK --------------*/
.info {
  padding: 25px 50px 25px 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
align-items: baseline;
  width: 100%;
  max-width: 1600px;
  margin: auto;
}
.hero {
    width: 100%;
}
.hero img {
    width: 100%;
}
.project-details {
    width: 50%;
        padding-right: 25px;
}
.project-details h4 {
    font-family: Archivo, 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    font-weight: normal;
    padding-bottom: 30px;
}
.project-meta {
    width: 100%;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid lightgrey;
/*    font-size: 16px;*/
}
.project-meta b {
    width: 30%;
    float: left;
    font-family: Archivo, 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
}
.project-meta ul {
    width: 70%;
    float: right;
}
.description {
    width: 50%;
    padding-left: 25px;
    font-size: 28px;
    line-height: 36px;
}
.web-link {
    padding-top: 25px;
    text-transform: uppercase;
}
.images {
      width: 100%;
      padding: 25px 50px 25px 50px;
        max-width: 1600px;
        margin: auto;
}
.images img {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 40px;
}
.images .caption {
    width: 50%;
    padding: 0px 0px 25px 0px;
}
.images .left {
    width: 50%;
    padding-right: 25px;
    float: left;
}
.images .right {
    width: 50%;
    padding-left: 25px;
    float: right;
}
/*----------- RESPONSIVE VIDEO --------------*/
.responsive-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.responsive-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*----------- ABOUT --------------*/
article {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
    border-top: 1px solid white;
    align-items: stretch;
}
article h3 {
    min-width: 25%;
    padding-right: 15px;
    box-sizing: border-box;
}
article h4 {
    padding-top: 0px;
}
article .contact {
    column-count: 2;
    width: 75%;
}
article .four-column {
    column-count: 4;
    width: 75%;
}
article .four-column .column {
        break-inside: avoid;
}
/*
article {
    width: 66%;
    float: right;
    padding: 0px 50px 50px 50px;
}
aside {
    width: 33%;
    float: left;
    padding: 0px 50px 50px 50px;
}
aside h3 {
    padding-top: 25px;
}
*/
/*----------- NEWS --------------*/
.news-item {
    padding: 50px 50px 50px 50px;
    margin: auto;
    display: flex;
    border-top: 1px solid black;
}
.news-item:first-of-type {
    border-top: none;
}
.news-image {
    width: 30%;
    padding-right: 25px;
}
.news-image img {
    width: 100%;
}
.news-content {
    width: 70%;
    padding-left: 25px;
}
.news-item h2 {
    font-weight: normal;
    font-size: 18px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.news-item h1 {
    font-family: Archivo, 'Work Sans', sans-serif;
/*    text-transform: uppercase;*/
    font-weight: normal;
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 20px;
}
.news-item h1 a:hover {
    border-bottom: 0px;
    color: grey;
}
.news-item .summary {
    font-size: 20px;
    line-height: 24px;
}
.news-more {
    text-transform: uppercase;
    font-weight: bold;
}
.news-page {
        padding: 50px 50px 50px 50px;
}
.news-page .info {
    padding: 0px;
    align-items: flex-start;
}
.news-page .info img {
    width: 50%;
    padding-left: 25px;
}
.news-page .info .project-details {
    width: 50%;
    padding-right: 25px;
}
.news-page .info .project-details .description {
    font-size: 24px;
    line-height: 26px;
    width: 100%;
    padding: 0px;
    padding-top: 25px;
}
.news-page h1 {
        font-family: Archivo, 'Work Sans', sans-serif;
/*    text-transform: uppercase;*/
    font-weight: normal;
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 50px;
}
.news-story {
    width: 100%;
    padding-top: 25px;
}
.news-story a {
    font-weight: bold;
}
.news-story blockquote {
    padding-left: 25px;
}
.info .news-story img {
    width: 100%;
    padding: 0px;
}
.news-latest {
    border-top: 1px solid black;
    padding: 50px;
}
.more-news {
    width: 33%;
    padding: 25px;
    float: left;
}
.more-news img {
    width: 100%;
}
.more-news h2 {
          font-family: Archivo, 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
}
/*----------- FOOTER --------------*/
footer {
  padding: 40px 50px 40px 50px;
    top: 0;
    margin: auto;
  width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
  border-top: none;
  font-weight: normal;
  box-sizing: border-box;
    color: black;
    border-top: 1px solid lightgrey;
}
footer p {
    padding: 0px;
}
footer a {
     color: black;
}
footer a:hover {
        border-bottom: 3px solid black;
}
.copyright {
    width: 40%;
    padding-right: 10%;
}
.contact {
    width: 25%;

}
.email {
    width: 25%;

}
form {
    padding-top: 15px;
    margin-left: -2px;
}
input {
    font-size: 14px;
/*        background-color: #222222;*/
    color:black;
}
#tlemail {
    border: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px;
    margin-right: 1%;
}
.subscribe {
    border: .5px solid black;
    font-family: Archivo, 'Work Sans', sans-serif;
    padding: 5px;
    background-color: black;
    margin-left: 1%;
    color: white;
    text-transform: uppercase;

}

/*-----------------------------------
TABLET
----------------------------------- */
@media screen and (min-width: 716px) and (max-width: 1024px) {
    .container {
        padding: 0px;
            margin: auto;
        box-sizing: border-box;
    }
    .content {
/*
    margin-left: 20px;
    margin-right: 20px;
*/
    width: 100% - 40px;
    box-sizing: border-box;
}
 header {
  padding: 20px 20px 20px 20px;
  }

/*--------- HOMEPAGE -------------*/
.intro {
    padding: 25px;
}
.intro h1 {
    font-size: 36px;
    line-height: 40px;
}
/*----------- WORK LIST--------------*/
.blog-list-container {
    padding: 0px;

}
.work {
    width: 48%;
    }
.project_image img {
    padding-bottom: 15px;
}
.blog-tags-list {
    padding-bottom: 10px;
  padding: 15px 25px 15px 25px;
text-align: center;

    }
.blog-tags-item {
    padding: 8px 1px 8px 1px;
    border-bottom: 2px black solid;
    font-size: 16px;
    }
.blog-tags-item:first-child {
    margin-left: 0px;
    }
.blog-tags-item:hover {
    border-color: black;
    background-color: black;
    color: white;
    }

/*----------- WORK--------------*/
.info {
  padding: 25px;
}
.images {
  padding: 25px 25px 25px 25px;
    }

/*----------- ABOUT --------------*/

article {
    width: 50%;
    float: right;
    padding: 0px 25px 25px 25px;
}
aside {
    width: 50%;
    float: left;
    padding: 0px 25px 25px 25px;
}

/*----------- NEWS --------------*/
.news-item {
    padding: 25px;
    margin: auto;
}
    .news-item h1 {
            font-size: 36px;
    line-height: 38px;
    }
.news-image {
    width: 50%;
    padding-right: 15px;
}
.news-content {
    width: 50%;
    padding-left: 15px;
}

/*----------- FOOTER --------------*/
    .copyright {
    width: 50%;
    padding-right: 10%;
}
.contact {
    width: 50%;

}
.email {
    width: 50%;

}
}

/*-----------------------------------
MOBILE
----------------------------------- */
@media only screen and (max-width: 715px) {
.container {
        padding: 0px 0px 0px 0px;
    }
    .content {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    clear: both;
        box-sizing: border-box;
}
/*----------- HEADER --------------*/
header {
  padding: 15px 10px 5px 10px;
flex-direction: column;

}
nav {
    padding-top: 10px;
}
nav li {
  list-style: none;
    float: left;
    padding-left: 0px;
    padding-right: 20px;
    padding-bottom: 20px;
}

/*----------- HOMEPAGE --------------*/
.intro {
    padding: 10px;
    margin-bottom: 75px;
}
.intro h1 {
    font-size: 32px;
    line-height: 36px;

}
/*----------- WORK LIST--------------*/
.blog-list-container {
    padding: 10px;
    padding-right: 5px;
}
.work {
    width: 99%;
    padding: 0px;
        padding-bottom: 75px;
}
.project {
    width: 100%;
    padding: 0px;
}
.project_image img {
    padding-bottom: 5px;
}
.blog-tags-list {
    padding-bottom: 10px;
  padding: 15px 10px 15px 10px;
text-align: center;

    }
.blog-tags-item {
    padding: 8px 1px 8px 1px;
    border-bottom: 2px black solid;
    font-size: 16px;
    }
.blog-tags-item:first-child {
    margin-left: 0px;
    }
.blog-tags-item:hover {
    border-color: black;
    background-color: black;
    color: white;
    }
/*----------- WORK--------------*/
.info {
  padding: 15px 10px 15px 10px;
  display: block;;
  width: 100%;
  margin: auto;
}
.project-details {
    width: 100%;
    padding-right: 0px;
    padding-bottom: 25px;
}
.description {
    width: 100%;
    padding-left: 0px;
    font-size: 24px;
    line-height: 24px;
    }
.images {
  padding: 15px 10px 15px 10px;
    }
.images img {
        padding-top: 25px;
    }
.images .description {
    padding-bottom: 15px;
    font-size: 24px;
}
.images .caption {
    width: 100%;
    padding-bottom: 10px;
}
.images .left {
    width: 100%;
    float: none;
    padding-right: 0px;
    }
.images .right {
    width: 100%;
    float: none;
    padding-left: 0px;
    }

/*----------- ABOUT --------------*/

article {
  display: block;
  padding: 15px;
}
article h3 {
    min-width: 100%;
    padding-right: 0px;
}
    article h4 {
        padding-top: 15px;
    }
article .contact {
    column-count: 1;
    width: 100%;
}
article .four-column {
    column-count: 1;
    width: 100%;
}

/*
article {
    width: 100%;
    padding: 10px 10px 10px 10px;
}
aside {
    width: 100%;
    padding: 10px 10px 10px 10px;
}
*/
/*----------- NEWS --------------*/
.news-item {
    padding: 25px;
    margin: auto;
    display: block;
    border-top: 1px solid black;
}
.news-image {
    width: 100%;
    padding-right: 0px;
}
.news-content {
    width: 100%;
    padding-left: 0px;
}
.news-item h2 {
    font-weight: normal;
    font-size: 18px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.news-item h1 {
    font-family: Archivo, 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 15px;
}
    .news-page {
        padding: 25px;
    }
.news-page h1 {
            font-family: Archivo, 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 15px;
    }
.news-page .info {
  display: flex;
    flex-direction: column-reverse;
}
.news-page .info img {
    width: 100%;
    padding-left: 0px;
    padding-bottom: 25px;

}
.news-page .info .project-details {
    width: 100%;
    padding-right: 0px;
}
    .news-latest {
        padding: 25px;
    }
    .more-news {
        width: 100%;
        padding: 0px;
        padding-bottom: 50px;
    }

/*----------- FOOTER --------------*/
footer {
    display: block;
      padding: 15px 10px 15px 10px;
}
.copyright {
    width: 100%;
    padding-right: 0;
    padding-bottom: 20px;
}
.contact {
    width: 100%;
    padding-bottom: 20px;
}
.email {
    width: 100%;
    padding-bottom: 20px;
}
