* {
    padding: 0px;
    margin: 0px;
    }
h1 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 70px;
    line-height: 65px;
    }
h3 {
    font-weight: bold;
    font-family: 'Cutive Mono', monospace;
    text-transform: uppercase;
}
p {
    font-size: 14px;
    line-height: 16px;
}
a {
    color: white;
    text-decoration: none;
    border-bottom: .5px solid white;
}
a:hover {
    border-bottom: 1px solid white;
}
a:active {
    color: white;
}
.header {
    width: 100%;
    background-color: #222222;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 50px;
    color: white;
    display: flex;
    box-sizing: border-box;
    font-family: 'Cutive Mono', monospace;
}
.brand {
    width: 40%;
    padding-right: 10%;
}
.contact-info {
    width: 25%;

}
.location {
    width: 25%;

}
.big-footer {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
    padding-top: 25px;
    background-color: #222222;
    color: white;
    display: flex;
    box-sizing: border-box;
        font-family: 'Cutive Mono', monospace;
}
.services {
    width: 25%;
    padding-right: 0%;
}
    .services li {
        list-style: none;
        font-size: 14px;
}
    .about {
        width: 40%;
                padding-right: 10%;
}
    .clients {
        width: 25%;
                padding-right: 0%;
            font-size: 14px;
}
    .clients li {
    list-style: none;
}
.footer {
    width: 100%;
    box-sizing: border-box;
    background-color: #222222;
    border-top: 1px solid white;
    font-family: 'Cutive Mono', monospace;
    color: white;
    display: flex;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
}
form {
    padding-top: 15px;
    margin-left: -2px;
}
input {
    font-family: 'Cutive Mono', monospace;
    font-size: 14px;
        background-color: #222222;
    color:white;
}
#tlemail {
    border-bottom: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px;
    margin-right: 1%;
}
.subscribe {
    border: .5px solid white;
    padding: 5px;
    background-color: #222222;
    margin-left: 1%;
    color: white;
    text-transform: uppercase;

}

/* GRID
----------------------------------- */
.portfolio {
    width: 100%;
}
.portfolio img {
    width: 100%;
    vertical-align: bottom;
}
    .row,
    .group,
    .grouped {
        overflow: hidden;
    }
    .column,
    .columns {
    float: left;
    }

    .one     {width: calc(100% / 12 * 01); }
    .two     {width: calc(100% / 12 * 02); }
    .three   {width: calc(100% / 12 * 03); }
    .four    {width: calc(100% / 12 * 04); }
    .five    {width: calc(100% / 12 * 05); }
    .six     {width: calc(100% / 12 * 06); }
    .seven   {width: calc(100% / 12 * 07); }
    .eight   {width: calc(100% / 12 * 08); }
    .nine    {width: calc(100% / 12 * 09); }
    .ten     {width: calc(100% / 12 * 10); }
    .eleven  {width: calc(100% / 12 * 11); }
    .twelve  {width: calc(100% / 12 * 12); }

    /* column offset */
    .offset-by-one     {margin-left: calc(100% / 12 * 01); }
    .offset-by-two     {margin-left: calc(100% / 12 * 02); }
    .offset-by-three   {margin-left: calc(100% / 12 * 03); }
    .offset-by-four    {margin-left: calc(100% / 12 * 04); }
    .offset-by-five    {margin-left: calc(100% / 12 * 05); }
    .offset-by-six     {margin-left: calc(100% / 12 * 06); }
    .offset-by-seven   {margin-left: calc(100% / 12 * 07); }
    .offset-by-eight   {margin-left: calc(100% / 12 * 08); }
    .offset-by-nine    {margin-left: calc(100% / 12 * 09); }
    .offset-by-ten     {margin-left: calc(100% / 12 * 10); }
    .offset-by-eleven  {margin-left: calc(100% / 12 * 11); }
    .offset-by-twelve  {margin-left: calc(100% / 12 * 12); }


/* MOBILE
----------------------------------- */
@media only screen and (max-width: 715px) {

.header {
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 50px;
    padding-right: 25px;
    flex-direction: column;
}
.brand {
    width: 95%;
}
.contact-info {
    width: 90%;
    padding-top: 10px;
}
.location {
    width: 90%;
    padding-top: 10px;
}
.big-footer {
    width: 100%;
    flex-direction: column;
}
.services {
    width: 90%;
    padding-top: 10px;
}
    .about {
        width: 90%;
}
    .clients {
        width: 90%;
        padding-top: 10px;
}
    .footer {
        flex-direction: column;
    }
    .column,
    .columns {
    float: left;
        width: 100%;
    }
}
