<footer>

        <div class="copyright">
                    <p>&copy <script language="javascript" type="text/javascript">
var today = new Date()
var year = today.getFullYear()
document.write(year)
            </script> twenty-six.design / Jarrett Fuller.</p>
            <p>Raleigh, NC</p>
                </div>

                <div class="contact">
                    <p><a href="mailto:mail@twenty-six.design">mail@twenty-six.design</a></p>
                    <p><a href="http://www.twitter.com/26_design">@26_design</a></p></div>

                <div class="email">
                    <p>Sign up for our newsletter for studio updates, news, and thoughts on design.</p>
                    <form
  action="https://buttondown.email/api/emails/embed-subscribe/jarrettfuller"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/jarrettfuller', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <input type="email" name="email" id="bd-email">
  <input type="hidden" value="1" name="embed">
  <input type="submit" value="Subscribe">

                    </form></div>

<!--<form action="https://tinyletter.com/jarrettfuller" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/jarrettfuller', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail"></label> <input type="text" style="width:200px" name="email" id="tlemail" placeholder="Email" /><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" class="subscribe"/></p></form>-->

    </footer>

