<!DOCTYPE html>
<html>
    <head>
    <title>{{ page.title }} | twenty-six.design</title>
        <meta name="viewport" content="width=device-width">
        <meta charset="UTF-8">
                      <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/styles.css" />
<link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js"></script>
        <link rel="icon" type="image/png" href="{{ site.github.url }}/images/icon.png">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122218878-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122218878-1');
</script>



    </head>
    <body id="top">
        <div class="container">
         <header>
            <h1><a href="../index.html">twenty-six.design</a></h1>
            <nav><ul>
                <li><a href="../index.html">Work</a></li>
                <li><a href="{{ site.github.url }}/about">About</a></li>
<!--                <li><a href="{{ site.github.url }}/process">Process</a></li>-->
                <li><a href="{{ site.github.url }}/news">News</a></li>
             </ul></nav>

        </header>




<div class="content">
      {{ content }}
    </div>

<section class="clearfix"></section>


{% include footer.html %}
            </div>
    </body>



</html>
