<!DOCTYPE html>
<html>
    <head>
    <title>{{ page.title }} | twenty-six.design</title>
        <meta name="viewport" content="width=device-width">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/styles.css" />
        <link rel="stylesheet" href="https://use.typekit.net/uvr2qfi.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js"></script>
        <link rel="icon" type="image/png" href="{{ site.github.url }}/images/icon.png">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122218878-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122218878-1');
</script>



    </head>
    <body id="top">
        <div class="sidepanel">

            <sidebar>

<ul>
    <li>&copy <script language="javascript" type="text/javascript">
var today = new Date()
var year = today.getFullYear()
document.write(year)
            </script> • Raleigh, NC</li>
<!--    <li><a href="{{ site.github.url }}/work">twenty-six.design</a></li>-->
    <li><a href="{{ site.github.url }}/work">Work</a></li>
                <li><a href="{{ site.github.url }}/about">About</a></li>
                <li><a href="{{ site.github.url }}/news">News</a></li>

             </ul>
<!--
                <h1></h1>
                    <h2><a href="../index.html">&copy <script language="javascript" type="text/javascript">
var today = new Date()
var year = today.getFullYear()
document.write(year)
            </script> </a></h2>
-->

</sidebar>

</div>

        <div class="container">

<div class="content">
<header>
    <div class="headline"><p><a href="../index.html">twenty-six.design</a> is an independent design and editorial studio and think tank led by <a href="http://www.jarrettfuller.com">Jarrett Fuller</a>. Our work takes shape across a variety of media, from books and websites to podcasts and public relations and we work with clients large and small, around the world.</p>

<p>In addition to client work, we also produce experimental work, research projects, and original content, including the podcast <a href="http://www.scratchingthesurface.fm">Scratching the Surface</a>, the online archive of graphic design texts <a href="http://www.readings.design">readings.design</a>, and other books and speculative projects.</p>

<!--
<ul>
                <li><a href="{{ site.github.url }}/work">Work</a></li>
                <li><a href="{{ site.github.url }}/about">About</a></li>
                <li><a href="{{ site.github.url }}/news">News</a></li>
                <li><a href"" class="jf">jarrettfuller.com</a></li>
             </ul></div>
-->

</header>

      {{ content }}
    </div>

<section class="clearfix"></section>


{% include footer.html %}
            </div>
    </body>



</html>
