---
layout: default
---

<div class="hero"><img src="{{ page.hero }}"></div>

    <div class="info">
         <div class="description">
            <h4>{{ page.title }}</h4>
<p>
            {{ page.discription }}</p>
            {% if page.site %}
                <div class="web-link"><a href="{{ page.site}}">Visit the Site →</a></div>{% endif %}
        </div>


                <div class="project-details">


                    <div class="project-meta clearfix">
    <b>Client</b> {{ page.client }}

                    </div>

                    <div class="project-meta clearfix">
                    <b>Type</b>
                    <ul class="project_tags">
                         {% for tags in page.tags %}
                <li>{{ tags }}</li>
                {% endfor %}
                        </ul>
                    </div>

<div class="project-meta clearfix">
    <b>Year</b> {{ page.year }}

                    </div>


</div>



    </div>

            <section class="clear"></section>


<div class="images clearfix">

    {{ content }}

    <section class="clear"></section>

        </div>

