---
layout: default
---

<!DOCTYPE html>
<html>
    <head>
    <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <meta charset="UTF-8">
            <link rel="stylesheet" type="text/css" href="../styles.css" />
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:200,200i,300,300i,400,400i,600,600i" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" type="image/png" href="{{ site.github.url }}/images/favicon.jpg">

        <style type="text/css">

            }

        </style>

    </head>
    <body id="top">

<div id="container">
      {{ content }}
    </div>
<section class="clearfix"></section>


    </body>



</html>
