---
layout: default
---

<div class="news-page">
<h1>{{ page.title }}</h1>

<img src="{{ page.hero }}">

        <div class="project-details">

                <div class="project-meta clearfix">
    <b>Date</b> {{ page.date | date: "%B %-d, %Y"}}

                    </div>

                    <div class="project-meta clearfix">
                    <b>Type</b> {{ page.type }}
                    </div>

            <div class="description">
            {{ page.summary }}
        </div>

                     <div class="news-story">
    {{ content }}

                           {% if page.site %}
                <div class="web-link"><a href="{{ page.site}}">{{ page.site-title}} →</a></div>{% endif %}

        </div>

</div>

<section class="clear"></section>

</div>

<div class="news-latest">
<a class="next" href="{{ site.github.url }}{{page.next.url}}">  {% if page.next.url %}&leftarrow; Next{% endif %}</a>


{% if page.previous.url %}
    <a class="prev" href="{{ site.github.url }}{{page.previous.url}}">
        Previous &rightarrow;</a>
  {% endif %}

</div>

    <section class="clear"></section>
    <section class="clear"></section>
