---
layout: default
---

<!--<div class="hero"><img src="{{ page.hero }}"></div>-->

<div class="news-page">
<h1>{{ page.title }}</h1>


    <div class="info">

                <div class="project-details">

                <div class="project-meta clearfix">
    <b>Date</b> {{ page.date | date: "%B %-d, %Y"}}

                    </div>

                    <div class="project-meta clearfix">
                    <b>Type</b> {{ page.type }}
                    </div>

            <div class="description">
            {{ page.summary }}
        </div>

                     <div class="news-story">
    {{ content }}

                           {% if page.site %}
                <div class="web-link"><a href="{{ page.site}}">{{ page.site-title}} →</a></div>{% endif %}

        </div>

</div>


<img src="{{ page.hero }}">


</div>
            <section class="clear"></section>


<div class="images clearfix">


        </div>

    <section class="clear"></section>

</div>

<div class="news-latest">
<!--    <h3>Latest News</h3>-->

{% for news in site.news limit:3 %}
      <div class="more-news">
                <a href="{{ news.url }}">
        <figure>
            <img src="{{ news.hero}}" alt="image"/>
            <figcaption>
           <h2>{{ news.title }}</h2></figcaption>
        </figure>
          </a>
        </div>
  {% endfor %}

        <section class="clear"></section>
    </div>

    <section class="clear"></section>
    <section class="clear"></section>
